.color-bends-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.color-bends-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}